body {
    background-color: #F6F6F6;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.topnav {
    background-color: #EFBA34;
    position: fixed;
    display: flex;
    min-width: 100vw;
    padding: 10px;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
  }
  
  .topnav a:hover {
    background-color: #F6F6F6;
    color: #185ADB;
  }

header {
    background-color: #900E02;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}

h1, h2 {
    font-family: 'Alegreya Sans', sans-serif;
 }

 /* header styles */
 
header h1 {
    color: #F6F6F6;
    font-size: 70px;
    margin: 40px auto 20px;
    
}

header img {
    border-radius: 220px;
    width: 400px;
    border: 20px solid #EFBA34;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img { 
    max-width: 100%;
}

h2 { 
    font-size: 40px;
    color: #185ADB;
    margin: 40px 0 10px;
}

a{ 
    color: #185ADB;
}

a:hover {
    color: #900E02;
}

footer {
    background-color: #900E02;
    text-align: center;
    color: #F6F6F6;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: #F6F6F6;
}

footer a:hover{
    color: #F6F6F6;
    opacity: .5;
}

p.caption {
    color: #185ADB;
    font-size: 15px;
    font-style: italic;
    margin-top: 0;
}